* {
  overflow-y: hidden;
  overflow-x: hidden;
}
body {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  background: url(/images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  background-color: var(--violet);
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}
:root {
  --violet: hsl(257, 40%, 49%);
  --softMagenta: hsl(300, 69%, 71%);
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
.container {
  max-width: 1440px;
  width: 80%;
}
/* header */
.logo {
  position: absolute;
  top: 3%;
  left: 4%;
  display: block;
  width: 150px;
  height: auto;
}

/* main */

.main {
  display: flex;
  flex-wrap: wrap;

  /* grid-auto-rows: 1fr; */
}
.section-a {
  margin-left: auto;
  margin-right: auto;
}
.section-a img {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.section-b {
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.section-b h1 {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.9rem;
  margin-bottom: 10px;
}
.section-b p {
  line-height: 1.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  opacity: 0.8;
}
.btn {
  background: white;
  color: var(--violet);
  width: 200px;
  height: 30px;
  padding-top: 10px;
  text-align: center;
  margin-top: 20px;
  border-radius: 50px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}
/* footer*/
.links {
  margin-top: 15px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  /* color: white; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.links a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.facebook,
.instagram,
.twitter {
  /* width: auto; */
  /* height: 1.2rem;
  padding: 8px; */

  border-radius: 50%;
  border: 2px solid white;
}
.facebook img,
.twitter img,
.instagram img {
  width: auto;
  height: 0.7rem;
  padding: 7px;
}
.facebook{
  padding: 7px;
}
.twitter {
  margin-left: 10px;
  margin-right: 10px;
}
.main{
  max-width: 1440px;
}
.attribution {
  font-size: 0.5rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* @media */

@media screen and (min-width: 700px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;
  }
  .section-b {
    text-align: left;
  }
  .btn {
    margin-left: 0;
  }

  .links {
    position: absolute;
    bottom: 5%;
    transform: translateX(100%);
    right: 22%;
  }
  .links a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links img {
    height: 1.5em;
    /* padding: 7px; */
  }
  /* .facebook {
    width: 1.5rem;
    padding: 7px;
  } */

  body {
    background: url(/images/bg-desktop.svg);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    background-repeat: no-repeat;
    overflow-y: hidden;
    background-size: cover;
    background-color: var(--violet);
    height: 100vh;
    width: 100vw;
  }
}
@media screen and (max-width: 375px) {
  .container {
    width: 80%;
  }
  .btn {
    margin-top: 5px;
  }
  /* .links img{
  height: 1rem;
  padding: 3px;
} */
  .section-a img {
    /* width: 100%;
  height: auto; */
    margin-left: auto;
    margin-right: auto;
  }
  .facebook,
  .instagram,
  .twitter {
    /* width: auto; */

    width: 0.4;
    padding: 3px;

    border-radius: 50%;
    border: 2px solid white;
  }

  .twitter img,
  .instagram img {
    width: auto;
    height: 1.2rem;
  }
  .main {
    margin-top: 20px;
  }
  .section-b h1 {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 10px;
  }
  .section-b p {
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.8;
  }
}
